.container-fondo {
    background-image: url('../images/index4/FondoCielo.png');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 2048px 1536px;
    background-position: center;
}

#panotos-text{
    position: absolute;
    top: 28%;
    width: 80%;
    margin-left: 9%;

}

#panotos-text2{
    position: absolute;
    top: 32%;
    width: 30%;
    left: 35%;
}

#etiqueta_PA{
    position: absolute;
    top: 32.9%;
    left: 72.5%;
}
#etiqueta_EA{
    position: absolute;
    top: 55%;
    left: 79.8%;
}
#etiqueta_VEN{
    position: absolute;
    top: 71.5%;
    left: 79.9%;
}
#etiqueta_AL{
    position: absolute;
    top: 42.9%;
    left: 8%;
}
#etiqueta_ENG{
    position: absolute;
    top: 61%;
    left: 7.6%;
}
#etiqueta_NAT{
    position: absolute;
    top: 73%;
    left: 7.8%;
}



#caja_CH{
position: absolute;
top: 45.5%;
right: 24.5%;
}
#frasco_CH{
    position: absolute;
    top: 49%;
    width: 24%;
    left: 55.9%;
}
#descrip_CH{
    position: absolute;
    width: 12%;
    top: 82.6%;
    left: 54.6%;
    z-index: 1;

}
#caja_G{
    position: absolute;
    top: 40.7%;
    left: 29%;

}
#frasco_G{
    position: absolute;
    width: 20%;
    top: 53.5%;
    width: 17%;
    left: 24.9%;
}
#descrip_G{
    position: absolute;
    width: 15%;
    top: 82.6%;
    left: 35%;
    z-index: 1;
}
#vasito{
    position: absolute;
    width: 8%;
    top: 74%;
    left: 51.6%;
}
#reg{
    position: absolute;
    width: 8%;
    top: 83.5%;
right: 22.5%;
}
#categ{
    position: absolute;
    width: 15%;
    top: 90%;
    left: 78%;
}